
@font-face {
    font-family:'Enchanted' ;
    src: url('../fonts/enchanted_land/Enchanted\ Land.otf');
}

body{
    font-family: 'Enchanted';
    color: #602960;
}

header {

    background: linear-gradient(rgb(165, 165, 164),white);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer{
    background: linear-gradient( rgb(165,165,164),white);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid  #602960;
}
p {
    font-size: 4vh;
    margin: 0;
}
section{
    padding: 5vw 5vw;
}
h1{
    font-size: 10vh;
    text-decoration: underline;
    margin-bottom: 0;
}
h2{
    margin:0%;
    font-size: 5vh;
}

h3{
    text-align: center;
    margin-bottom: 6vh;
    text-decoration: underline;
    font-size: 6vh;
}
label{
    font-size: 4vh;
}
#difCheck{
    margin-top: 5vh;
}

#pjNumber{
    padding: 5vh 20vw;
}
#pjNumber form{
    align-self: flex-start;
    height: 15vh;
}
#teamImg{
    width: 40vw;
}
#randomMonsterSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#result{
    background-color: rgb(165,165,164);
}
.pjLevel{
    background: linear-gradient(white,rgb(165,165,164));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

}
.pjNumber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(165, 165, 164),white);
    z-index: 3;
}
.hgauche {
    background-image: url("../img/HD.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 19vw;

}

.hmilieu{
    width: 56vw;
}

.hdroite {

    background-image: url("../img/DD.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20%;
}
.centrer {
    text-align: center;
}
.hidden{
    display: none;
}
.colmn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1vw;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.encounterLevel{
    background: linear-gradient(white,rgb(165,165,164));
    position: relative;
    z-index: 4;
}
.flex{
    display: flex;
    justify-content: center;
}
.iconeDifficulte{
    width: 17vw;
}

.apparition{
    animation-name: 'apparition';
    animation-duration: 0.8s;
    position: relative;
}

@keyframes apparition {
    0%{
        transform: translateY(-500px) ;
    }
    100%{
        transform: translateY(0) ;
    }
}
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}